<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="./css/questions.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="mainbody mx-auto">
        <div style="font-size: 0.12em;" class="py-2">1/15</div>
      <div style="border:1px solid;" class="col-10 mx-auto my-2">
        <div style="background-color: red; height: 3dvh; width:6.66%;"></div>
      </div>
      <div style="font-size:0.16em">2023학년도 MZ어휘력고사 문제지</div>
      <div style="font-size:0.36em" class="m-3">문해력 영역</div>
      <div style="font-size:0.30em" class="m-5"> 1. 다음 중 "금일" 의 뜻으로 알맞은 것은?</div>
      <div style="font-size: 0.24em; text-align: left;" class="col-8 mx-auto">
          <div><button class="answerbutton me-3">1</button><p class="mx-auto">금요일</p></div>
          <div><button class="answerbutton me-3">2</button><p>오늘</p></div>
          <div><button class="answerbutton me-3">3</button><p>내일</p></div>
          <div><button class="answerbutton me-3">4</button><p>이틀 후</p></div>
      </div>
      <div style="display:flex;" class="col-6 mx-auto">
        <div class="mx-auto">
            <button type="button" onclick="location.href='./index.html'" class="btn btn-outline-secondary btn1 mb-5 " style="font-size:0.16em;">이전</button>
        </div>
        <div class="mx-auto">
            <button type="button" onclick="location.href='./question2.html'" class="btn btn-outline-secondary btn1 mb-5 " style="font-size:0.16em;">다음</button>
        </div>
      </div>
    <div style="padding-bottom: 10px; font-size:0.16em">한국MZ평가원</div>
    </div>
    </div>
  </div>
  
</body>
</html>